pre {
  line-height: 125%;
}

td.linenos .normal {
  padding-right: 5px;
  padding-left: 5px;
  color: inherit;
  background-color: transparent;
}

span.linenos {
  padding-right: 5px;
  padding-left: 5px;
  color: inherit;
  background-color: transparent;
}

td.linenos .special {
  padding-right: 5px;
  padding-left: 5px;
  color: #000;
  background-color: #ffffc0;
}

span.linenos.special {
  padding-right: 5px;
  padding-left: 5px;
  color: #000;
  background-color: #ffffc0;
}

.highlight .hll {
  background-color: #ffc;
}

.highlight {
  background: #f8f8f8;
}

/* Comment */
.highlight .c {
  color: #3d7b7b;
  font-style: italic;
}

/* Error */
.highlight .err {
  border: 1px solid #f00;
}

/* Keyword */
.highlight .k {
  color: #008000;
  font-weight: bold;
}

/* Operator */
.highlight .o {
  color: #666;
}

/* Comment.Hashbang */
.highlight .ch {
  color: #3d7b7b;
  font-style: italic;
}

/* Comment.Multiline */
.highlight .cm {
  color: #3d7b7b;
  font-style: italic;
}

/* Comment.Preproc */
.highlight .cp {
  color: #9c6500;
}

/* Comment.PreprocFile */
.highlight .cpf {
  color: #3d7b7b;
  font-style: italic;
}

/* Comment.Single */
.highlight .c1 {
  color: #3d7b7b;
  font-style: italic;
}

/* Comment.Special */
.highlight .cs {
  color: #3d7b7b;
  font-style: italic;
}

/* Generic.Deleted */
.highlight .gd {
  color: #a00000;
}

/* Generic.Emph */
.highlight .ge {
  font-style: italic;
}

/* Generic.EmphStrong */
.highlight .ges {
  font-weight: bold;
  font-style: italic;
}

/* Generic.Error */
.highlight .gr {
  color: #e40000;
}

/* Generic.Heading */
.highlight .gh {
  color: #000080;
  font-weight: bold;
}

/* Generic.Inserted */
.highlight .gi {
  color: #008400;
}

/* Generic.Output */
.highlight .go {
  color: #717171;
}

/* Generic.Prompt */
.highlight .gp {
  color: #000080;
  font-weight: bold;
}

/* Generic.Strong */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Subheading */
.highlight .gu {
  color: #800080;
  font-weight: bold;
}

/* Generic.Traceback */
.highlight .gt {
  color: #04d;
}

/* Keyword.Constant */
.highlight .kc {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Declaration */
.highlight .kd {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Namespace */
.highlight .kn {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Pseudo */
.highlight .kp {
  color: #008000;
}

/* Keyword.Reserved */
.highlight .kr {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Type */
.highlight .kt {
  color: #b00040;
}

/* Literal.Number */
.highlight .m {
  color: #666;
}

/* Literal.String */
.highlight .s {
  color: #ba2121;
}

/* Name.Attribute */
.highlight .na {
  color: #687822;
}

/* Name.Builtin */
.highlight .nb {
  color: #008000;
}

/* Name.Class */
.highlight .nc {
  color: #00f;
  font-weight: bold;
}

/* Name.Constant */
.highlight .no {
  color: #800;
}

/* Name.Decorator */
.highlight .nd {
  color: #a2f;
}

/* Name.Entity */
.highlight .ni {
  color: #717171;
  font-weight: bold;
}

/* Name.Exception */
.highlight .ne {
  color: #cb3f38;
  font-weight: bold;
}

/* Name.Function */
.highlight .nf {
  color: #00f;
}

/* Name.Label */
.highlight .nl {
  color: #767600;
}

/* Name.Namespace */
.highlight .nn {
  color: #00f;
  font-weight: bold;
}

/* Name.Tag */
.highlight .nt {
  color: #008000;
  font-weight: bold;
}

/* Name.Variable */
.highlight .nv {
  color: #19177c;
}

/* Operator.Word */
.highlight .ow {
  color: #a2f;
  font-weight: bold;
}

/* Text.Whitespace */
.highlight .w {
  color: #bbb;
}

/* Literal.Number.Bin */
.highlight .mb {
  color: #666;
}

/* Literal.Number.Float */
.highlight .mf {
  color: #666;
}

/* Literal.Number.Hex */
.highlight .mh {
  color: #666;
}

/* Literal.Number.Integer */
.highlight .mi {
  color: #666;
}

/* Literal.Number.Oct */
.highlight .mo {
  color: #666;
}

/* Literal.String.Affix */
.highlight .sa {
  color: #ba2121;
}

/* Literal.String.Backtick */
.highlight .sb {
  color: #ba2121;
}

/* Literal.String.Char */
.highlight .sc {
  color: #ba2121;
}

/* Literal.String.Delimiter */
.highlight .dl {
  color: #ba2121;
}

/* Literal.String.Doc */
.highlight .sd {
  color: #ba2121;
  font-style: italic;
}

/* Literal.String.Double */
.highlight .s2 {
  color: #ba2121;
}

/* Literal.String.Escape */
.highlight .se {
  color: #aa5d1f;
  font-weight: bold;
}

/* Literal.String.Heredoc */
.highlight .sh {
  color: #ba2121;
}

/* Literal.String.Interpol */
.highlight .si {
  color: #a45a77;
  font-weight: bold;
}

/* Literal.String.Other */
.highlight .sx {
  color: #008000;
}

/* Literal.String.Regex */
.highlight .sr {
  color: #a45a77;
}

/* Literal.String.Single */
.highlight .s1 {
  color: #ba2121;
}

/* Literal.String.Symbol */
.highlight .ss {
  color: #19177c;
}

/* Name.Builtin.Pseudo */
.highlight .bp {
  color: #008000;
}

/* Name.Function.Magic */
.highlight .fm {
  color: #00f;
}

/* Name.Variable.Class */
.highlight .vc {
  color: #19177c;
}

/* Name.Variable.Global */
.highlight .vg {
  color: #19177c;
}

/* Name.Variable.Instance */
.highlight .vi {
  color: #19177c;
}

/* Name.Variable.Magic */
.highlight .vm {
  color: #19177c;
}

/* Literal.Number.Integer.Long */
.highlight .il {
  color: #666;
}
